$cor-branca: #fff;

$cor-primaria: #3399CC;
$cor-secundaria: #333366;
$cor-terciaria: #FF6633;
$cor-quaternaria: #B1F4FF;

$fonte-h1: 70px;
$fonte-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;